# Express
ENV=development
HOST=localhost
PORT=3000

# JWT
TOKEN_KEY=

# MongoDB
USERNAME=
PASSWORD=
CLUSTER=
DATABASE=
MONGODB_URL=mongodb+srv://${USERNAME}:${PASSWORD}@${CLUSTER}.mongodb.net/${DATABASE}
