<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        <div>{{LOGO}}</div>
        <div>
            <h1>Verify your Envoy account</h1>
            <p>Please confirm that you want to use this as your Envoy account email address.</p>
            <button>Verify account</button>
        </div>
        <div>
            The Grapefruit Collective
        </div>
    </body>
</html>